* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #dbe3e1;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.head-content {
    background-image: url(../IMAGE/bg_AboutUs.png);
    background-size: 100% 100%;
    background-position: center;
    padding-left: 50px;
    padding-top: 190px;
    padding-bottom: 20px;
    height: 250px;
    color: white;
}